body{
  background: #cc0000;
  overflow: hidden;
}

#container{
  margin: 0px;
  padding: 0px;
}

#main-table{
  width: 105%;
  height: 105%;
  margin: -5px;
  padding: 0px;
  overflow: hidden;
}

#left{
  width: 25%;
  background: none;
  padding: 0px;
  margin: 0px;
  align-items: center;
}

#right{
  width: 75%;
  padding: 0px;
  margin: 0px;
  background: #fff;
}
